/* цветовая палитра */
:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --title-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --wite-color: rgba(255, 255, 255, 1);
  --wite-color-footer-to: rgba(255, 255, 255, 0.6);
  --background-title-color: rgba(47, 48, 58, 1);
}
/* общие основы */
body {
  background-color: #f5f5f5;
  color: var(--primary-text-color);
  font-family: roboto, bold;
}

ul {
  list-style: none;
}
/* ///// */
header {
  background-color: var(--wite-color);
}

.logo {
  font-family: Raleway;
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 3%;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.accent {
  color: var(--accent-color);
}
.site-nav {
  font-style: medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 2%;
  text-decoration: none;
}
.site-nav-link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.site-nav .site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.site-nav-mail {
  font-style: medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 2%;
}
.site-nav-mail-link {
  color: var(--title-text-color);
  text-decoration: none;
}
.site-nav-mail .site-nav-mail-link:hover,
.site-nav-mail-link:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--background-title-color);
}
.hero-header {
  font-style: black;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 6%;
  text-align: center;
  color: var(--wite-color);
}
.hero-header-button {
  font-style: bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 6%;
  background-color: var(--accent-color);
  color: var(--wite-color);
  border-radius: 4px;
  cursor: pointer;
}

.fichers {
}
.fichers-list {
}
.fichers-list-part {
}
.fichers-mini-header {
  font-style: bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 3%;
}
.fichers-description {
  font-style: regular;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: var(--title-text-color);
}
.works {
}
.works-header {
  font-style: bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 3%;
  text-align: center;
}
.works-list {
}
.works-list-foto {
}
.team {
  background-color: rgba(245, 244, 250, 1);
}
.team-header {
  font-style: bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 3%;
  text-align: center;
}
.team-list {
}
.team-list-part {
}
.team-list-foto {
}
.team-name {
  font-style: medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 3%;
}
.team-rank {
  font-style: regular;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 3%;
  color: var(--title-text-color);
}
.basement {
  background-color: var(--background-title-color);
}
.logo-footer {
  font-family: raleway;
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 3%;
  color: var(--wite-color);
  text-decoration: none;
}
.basement-address {
}
.basement-list {
}
.basement-list-part {
  font-style: regular;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: var(--wite-color);
  text-decoration: none;
}
.basement-text-color-to {
  color: var(--wite-color-footer-to);
}
.basement-list .basement-list-part:hover,
.basement-list-part:focus {
  color: var(--accent-color);
}
/* страница Portfolio */
.portfolio-section {
}
.portfolio-button {
  font-style: medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 3%;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--wite-color);
  background-color: var(--accent-color);
}

.portfolio-foto {
}
.portfolio-subtitle {
  font-style: bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 6%;
}
.portfolio-text {
  font-style: regular;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 3%;
  color: var(--title-text-color);
}
.portfolio-subtitle-lang {
}
